
body {
  background-color: #edf6f9;
  margin-left: 3%;
}

/* Navbar */

.navbar-custom {
  margin-left: -3.1%;
    background-color: #83c5be;
    font-family: 'Prompt', sans-serif;
    padding: 1% 0 1% 3%;
}
.navbar-brand {
  font-size: 2rem !important;

}

/* hidden div selector */
#Male {
  display: none;
}

#Female {
  display: none;
}

#chartM {
  display: none;
}

#chartF {
  display: none;
}

/*  */

p {
  margin: 4% 0 0;
}

.row {
  margin-top: 2%;
}

.btn {
  margin-top: 5%;
  transition-duration: 0.15s;
  background-color: #006d77;
  color: white;
}

.btn:hover {
  background-color: white;
  color: #006d77;
  border: solid;
}

/* Page background colors alternative */
/* body{
  background-color: #f1edf1;
}
.navbar-custom {
  margin-left: -3.1%;
    background-color: #bc69e5;
    font-family: 'Prompt', sans-serif;
    padding: 1% 0 1% 3%;
}
.btn {
  margin-top: 5%;
  transition-duration: 0.15s;
  background-color: #bc69e5;
  color: white;
}

.btn:hover {
  background-color: white;
  color: #bc69e5;
  border: solid;
} */
